<h1>Cart</h1>

<% @cart.books.each do |book| %>
  <p>Id: <%= book.books.id %></p>
  <p>Title: <%= book.books.title %></p>
  <p>Count: <%= book.books.count %></p>
  <p>Price: <%= book.books.price %></p>
  <p>Quantity: <%= book.quantity %></p>
  <p>Total price: <%= book.total_price %></p>
  <form action="/cart/<%= book.books.id %>" method="post">
  	<input type="hidden" name="_method" value="delete">
  	<input type="submit" value="Delete book">
  </form>
<% end %>

<p>Total price: <%= @cart.total_price %></p>
<form action="/cart/clear" method="post">
  <input type="submit" value="Clear cart">
</form>
