<h1>Edit post</h1>

<form action="/posts/<%= @post.id %>" method="post">
  <%= Rack::Csrf.tag(env) %>
  <input name='_method' type='hidden' value='put' />
  <p>Title: <input type="text" name="title" value="<%= @post.title %>"></p>
  <p>Description: <textarea name="description"><%= @post.description %></textarea></p>
  <p>User_id: <input type="number" name="user_id" value="<%= @post.user_id %>"></p>
  <p>Created: <input type="text" name="created_at" value="<%= @post.created_at %>"></p>
  <button type="submit" class="button small" value="Edit post">Edit post</button>
</form>