<h1>All Posts</h1>

<a href="/posts/new">Create posts</a><br>

<% @posts.each do |post| %>
  <%= post.id %>
  <%= post.title %>
  <%= post.description %>
  <%= post.user_id %>
  <%= post.created_at %>
  <a href="/posts/<%= post.id %>">Show</a>
  <a href="/posts/<%= post.id %>/edit">Edit</a>
  <form action="/posts/<%= post.id %>" method="post">
    <%= Rack::Csrf.tag(env) %>
    <input name='_method' type='hidden' value='delete' />
    <button type="submit" class="button small" value="Delete">Delete</button>
  </form>
  <br>
<% end %>

<%= will_paginate @posts, renderer: FoundationPagination::Sinatra %>