<h1>Show page</h1>

<p>Title: <%= @post.title %></p>
<p>Description: <%= @post.description %></p>
<p>User_id: <%= @post.user_id %></p>
<p>Created: <%= @post.created_at %></p>

<form action="/posts/<%= @post.id %>/delete" method="post">
    <%= Rack::Csrf.tag(env) %>
    <input name='_method' type='hidden' value='delete' />
	<button type="submit" class="button small" value="Delete">Delete</button>
</form>
