<!DOCTYPE html>
<html>
  <head>
    <title><%= @title ||= "MVC Sinatra blog." %></title>
    <link rel="stylesheet" href="/assets/<%= $sprockets['app.css'].digest_path %>" type="text/css"> 
  </head>

  <body>
    <div class="row">
      <div class="small-12 large-expand columns">
        <%= partial :"partials/menu" %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 large-expand columns">
        <%= partial :"partials/flash" %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 large-expand columns">
        <%= yield %>
      </div>
    </div>

      <script src="/assets/<%= $sprockets['app.js'].digest_path %>" type="text/javascript"></script>
  </body>
</html>
